@font-face {
  font-family: Arial-Bold;
  src: url(../font/arial-bold.ttf);
}

body{
  text-align: center;
  font-family: Arial;
}

b{
  font-family: Arial-Bold;
}

footer{
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.footer-sharing-logo{
  display: inline-block;
  max-width: 2.5rem;
}

.footer-sharing-logo img{
  width: 100%;
}

footer .details{
  display: flex;
  justify-content: space-around;
}

#title{
  margin-bottom: 3rem;
}

#logo{
  max-height: 5rem;
  margin-bottom: 1rem;
}

.wide-group-image{
  width: 100%;
  display: block;
  margin-top: 3.5rem;
}

.wide-group-image, footer{
  margin-left: auto;
  margin-right: auto;
}

p.image-description{
  font-size: 70%;
  color: grey;
}

footer h4{
  margin-bottom: 0;
}

footer p{
  line-height: 1.5;
  display: inline-block;
}

#facebook-logo{
  float: right;
  margin-right: 1rem;
}

#instagram-logo{
  float: left;
  margin-left: 1rem;
}

@media screen and (min-width: 600px) {
  .wide-group-image{
    max-width: 800px;
  }

  .wide-group-image, footer{
    margin-top: 4rem;
  }

  .footer-sharing-logo{
    float: none !important;
  }

  #facebook-logo{
    margin-right: 0;
    margin-left: 3rem;
  }

  #instagram-logo{
    margin-left: 0;
    margin-right: 3rem;
}
